<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Proyectos MiGeologo</title>
	<meta name="viewport" content="initial-scale=1.0; width=device-width">
	<link href="{{ url_for('static', filename='inicio.css') }}" rel="stylesheet" type="text/css">
	

</head>

<body class="holy-grail">

	<header>
		<h1>MiGeologoApp</h1>
	</header>

	<div class="contenedor">

		<section class="contenido">
			<a href="./pro1">
				<div class="proyecto pro1"></div>
			</a>
			<a href="./pro2">
				<div class="proyecto pro2"></div>
			</a>
			<a href="./pro3">
				<div class="proyecto pro3"></div>
			</a>
			<a href="./pro4">
				<div class="proyecto pro4"></div>
			</a>
			<a href="./pro5">
				<div class="proyecto pro5"></div>
			</a>
			<a href="./pro6">
				<div class="proyecto pro6"></div>
			</a>


		</section>

	</div>

	<footer>
		<p>Footer</p>
	</footer>
</body>

</html>